body, html {
  height: 100%;
  background-color: #202225;
  font-family: 'Source Code Pro', monospace;
  color: lightgray;
}

a, a:link, a:hover, a:visited, a:active {
  color: #7CFC00;
}

h1, h3 {
  font-family: 'Source Code Pro', monospace;
  color: lightgray;
}

.main {
  /* height: 100%; */
  width: 100%;
  text-align: center;
}

.mid {
  /* margin-top: 5%; */
}

.spacer {
  margin: 10px;
}
